<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SmartPharmaMVC</display-name>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/home</url-pattern>
    <url-pattern>/default</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarLaboratorio</display-name>
    <servlet-name>CadastrarLaboratorio</servlet-name>
    <servlet-class>controller.laboratorio.CadastrarLaboratorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarLaboratorio</servlet-name>
    <url-pattern>/laboratorio/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarMedicamento</display-name>
    <servlet-name>CadastrarMedicamento</servlet-name>
    <servlet-class>controller.medicamento.CadastrarMedicamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarMedicamento</servlet-name>
    <url-pattern>/medicamento/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarReceita</display-name>
    <servlet-name>CadastrarReceita</servlet-name>
    <servlet-class>controller.receita.CadastrarReceita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarReceita</servlet-name>
    <url-pattern>/receita/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealizarVenda</display-name>
    <servlet-name>RealizarVenda</servlet-name>
    <servlet-class>controller.venda.RealizarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarVenda</servlet-name>
    <url-pattern>/venda/realizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarLaboratorioServlet</display-name>
    <servlet-name>EditarLaboratorioServlet</servlet-name>
    <servlet-class>controller.laboratorio.EditarLaboratorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarLaboratorioServlet</servlet-name>
    <url-pattern>/laboratorio/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarMedicamentoServlet</display-name>
    <servlet-name>EditarMedicamentoServlet</servlet-name>
    <servlet-class>controller.medicamento.EditarMedicamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarMedicamentoServlet</servlet-name>
    <url-pattern>/medicamento/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarReceitaServlet</display-name>
    <servlet-name>EditarReceitaServlet</servlet-name>
    <servlet-class>controller.receita.EditarReceitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarReceitaServlet</servlet-name>
    <url-pattern>/receita/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarVendaServlet</display-name>
    <servlet-name>EditarVendaServlet</servlet-name>
    <servlet-class>controller.venda.EditarVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarVendaServlet</servlet-name>
    <url-pattern>/venda/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarLaboratoriosServlet</display-name>
    <servlet-name>ConsultarLaboratoriosServlet</servlet-name>
    <servlet-class>controller.laboratorio.ConsultarLaboratoriosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarLaboratoriosServlet</servlet-name>
    <url-pattern>/laboratorios/consultar</url-pattern>
    <url-pattern>/laboratorios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarMedicamentosServlet</display-name>
    <servlet-name>ConsultarMedicamentosServlet</servlet-name>
    <servlet-class>controller.medicamento.ConsultarMedicamentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarMedicamentosServlet</servlet-name>
    <url-pattern>/medicamentos/consultar</url-pattern>
    <url-pattern>/medicamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarReceitasServlet</display-name>
    <servlet-name>ConsultarReceitasServlet</servlet-name>
    <servlet-class>controller.receita.ConsultarReceitasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarReceitasServlet</servlet-name>
    <url-pattern>/receitas/consultar</url-pattern>
    <url-pattern>/receitas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarVendasServlet</display-name>
    <servlet-name>ConsultarVendasServlet</servlet-name>
    <servlet-class>controller.venda.ConsultarVendasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarVendasServlet</servlet-name>
    <url-pattern>/vendas/consultar</url-pattern>
    <url-pattern>/vendas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirLaboratorioServlet</display-name>
    <servlet-name>ExcluirLaboratorioServlet</servlet-name>
    <servlet-class>controller.laboratorio.ExcluirLaboratorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirLaboratorioServlet</servlet-name>
    <url-pattern>/laboratorio/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirMedicamentoServlet</display-name>
    <servlet-name>ExcluirMedicamentoServlet</servlet-name>
    <servlet-class>controller.medicamento.ExcluirMedicamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirMedicamentoServlet</servlet-name>
    <url-pattern>/medicamento/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirReceitaServlet</display-name>
    <servlet-name>ExcluirReceitaServlet</servlet-name>
    <servlet-class>controller.receita.ExcluirReceitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirReceitaServlet</servlet-name>
    <url-pattern>/receita/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirVendaServlet</display-name>
    <servlet-name>ExcluirVendaServlet</servlet-name>
    <servlet-class>controller.venda.ExcluirVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirVendaServlet</servlet-name>
    <url-pattern>/venda/excluir</url-pattern>
  </servlet-mapping>
</web-app>